
@foreach (var result in Model.Results)
{
    if (result.PosterPath != null)
    {
        <div id="@result.Id">
            <img src="@string.Format("http://image.tmdb.org/t/p/w300{0}", @result.PosterPath)" alt="image"/>
        </div>
    }
    else
    {
        <div id="@result.Id">
            <img src="~/Content/img/PlaceholderPoster.png" alt="image"/>
        </div>
    }


    if (result.KnownFor == null)
    {
        continue;
    }
    foreach (var m in result.KnownFor)
    {
        if (m.PosterPath != null)
        {
            <div id="@m.Id">
                <img src="@string.Format("http://image.tmdb.org/t/p/w300{0}", @m.PosterPath)" alt="image"/>
            </div>
        }
        else
        {
            <div id="@m.Id">
                <img src="~/Content/img/PlaceholderPoster.png" alt="image"/>
            </div>
        }
    }
}
